*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Outfit', serif;
}
.card{
    max-width: 400px;
    background-color: var(--White);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}
img{
    width: 100%;
}
.qr-img img{
    border-radius: .5rem;
}
.content h1{
    padding: 20px 0;
    font-weight: 700;
}
.content p{
    color: var(--Grayish-blue);
    font-weight: 400;
}

body>footer{
    position: sticky;
    top: 100vh;
}
.attribution{
    font-size: 11px;
    text-align: center;
}